/** Colors **/

/* Background */
$color-background: #0D1117;
$color-background-selected: #161B22;

/* Fonts */
$color-title: #ECECEC;
$color-label: #C9D1D9;
$color-example: #565D65;

/* Icons */
$color-success: #3FB950;
$color-warning: #DC9600;
$color-danger: #F85149;
$color-neutral: #727B84;