/** Colors **/

/* Background */
$color-background: #0D1117;
$color-background-selected: #161B22;

/* Fonts */
$color-title: #ECECEC;
$color-label: #C9D1D9;
$color-icon: #8B949E;
$color-example: #565D65;
$color-link: #427CBF;

/* Buttons */
$color-button-background: #21262D;
$color-button-background-hover: #30363D;
$color-button-border: #8B949E;
$color-button-border-hover: #C9D1D9;

/* Icons */
$color-success: #3FB950;
$color-warning: #DC9600;
$color-danger: #F85149;
$color-neutral: #727B84;